cmakebuild.bat
cmakecleanbuild.bat
source-code/build/*
chrono-r/bin/*
chrono-r/resource-media/assets/gameplay/result-animation/frame/*
compile_commands.json
*.import
*.tmp
*.translation
*.dll
*.exp
*.lib
*.pdb
*.obj
*.o
TODO.md
.clangd
source-code/.cache
.zed
